<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<body class="flex">

<div th:replace="fragments/componenets::top-bar('Home')"></div>
<div th:replace="fragments/componenets::side-menu(menuItems=${menuItems})"></div>

<div class="flex-1 p-4 ml-32">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <form th:action="@{/home}" method="post" th:object="${daysOff}">
            <label for="datepicker1" class="text-gray-700">Select Start Date:</label>
            <input type="date" id="datepicker1" name="startDate" th:field="${daysOff.startDate}" class="ml-2 p-2 border border-gray-300 rounded-md">

            <label for="datepicker2" class="text-gray-700">Select End Date:</label>
            <input type="date" id="datepicker2" name="endDate" th:field="${daysOff.endDate}" class="ml-2 p-2 border border-gray-300 rounded-md">

            <label for="textbox" class="text-gray-700">Additional Information:</label>
            <input type="text" id="textbox" name="message" th:field="${daysOff.message}" class="ml-2 p-2 border border-gray-300 rounded-md">

            <button type="submit">Save Holiday</button>

        </form>

        <script>
            // Check if dateValidationError query parameter is present in the URL
            var urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('dateValidationError')) {
                // Display JavaScript alert for invalid date
                alert("Start date must be on or before end date!");
            }
            // Check if dateValidationError query parameter is present in the URL
            var urlParams1 = new URLSearchParams(window.location.search);
            if (urlParams1.has('tooManyDaysRequestedError')) {
                // Display JavaScript alert for invalid date
                alert("You have requested too many days!");
            }
        </script>

    </div>

    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <span th:text="'Free days left: '+${currentUser.getNrOfDaysOff()}" class="number-of-days" style="color: green;"></span>
    </div>

    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        <table>
            <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is approved</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dayOff : ${usersDaysOff}">
                <input type="hidden" name="userId" th:value="${dayOff.id}" />
                <td th:text="${dayOff.startDate}"></td>
                <td th:text="${dayOff.endDate}"></td>
                <td th:text="${dayOff.isApproved}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>






</body>
</html>